/mysql/*
### Symfony ###
# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/app/var/cache/*
/app/var/logs/*
/app/var/sessions/*
/app/var/cache/.gitkeep
/app/var/logs/.gitkeep
/appvar/sessions/.gitkeep

# Logs (Symfony4)
/app/var/log/*
/appvar/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/app/var/bootstrap.php.cache
/app/bin/*
!bin/console
!bin/symfony_requirements
/app/vendor/

# Assets and user uploads
/app/web/bundles/
/app/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/app/build/

# Composer PHAR
/app/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

### Symfony Patch ###
/app/web/css/
/app/web/js/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

